<div class="user-comments">
    {{!-- {{#each comment}} --}}
    <hr>
    <section class="card">
        <header class="card-header">
            <h6>Comments {{post.title}}</h6>
            <h6>Posted by {{post.user}}</h6>
        </header>
        <p class="comment card-body">{{post.comments}}</p>
    </section>

    {{!-- {{/each}} --}}
</div>